<div id="angular" class="navbar-body">

    <div class="container text-center tasks">

        <div class="row">
            <div class="col-md-12">

                <div class="row heading-row">
                    <div class="text-left col-md-4">
                        <a href="/dashboard"><span class="glyphicon glyphicon-arrow-left back-btn"></span></a>
                    </div>
                    <div class="col-md-4">
                        <h1>Angular Seed</h1>
                        <p><a href="/angular"><img src="images/logos/angular-seed-logo-clean.png" alt="angular seed"></a></p>
                    </div>
                </div>

                <div class="row">

                    <!-- Grunt Server -->
                    <div class="col-md-3">
                        <div class="task">
                            <h3>Grunt Server for Front-end</h3>
                            <p>The Grunt server can do all the hard work for you.</p>
                            <a class="btn btn-primary btn-sm btn-block" type="button">View Grunt Server</a>
                        </div>
                    </div>

                    <!-- API Documentation -->
                    <div class="col-md-3">
                        <div class="task">
                            <h3>API Documentation for Front-end</h3>
                            <p>This documentation for the node back-end of your app is generated automatically using Docular.</p>
                            <a class="btn btn-primary btn-sm btn-block" type="button" target="_blank" href="{{baseUrl}}:9999">View API Documentation</a>
                        </div>
                    </div>

                    <!-- Functional Testing -->
                    <div class="col-md-3">
                        <div class="task">
                            <h3>Functional Testing</h3>
                            <p>Run the test suite for functional testing of your app using FuncUnit.</p>
                            <a class="btn btn-primary btn-sm btn-block" type="button" href="{{baseUrl}}:9090/test/e2e/runner.html">Run Functional Testing</a>
                        </div>
                    </div>

                    <!-- Browser Testing -->
                    <div class="col-md-3">
                        <div class="task">
                            <h3>Device & Browser Testing</h3>
                            <p>Run the test suite for Device & Browser testing of your app using BrowserStack.</p>
                            <a class="btn btn-primary btn-sm btn-block" type="button">Run Browser Testing</a>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <!-- Environments -->
                    <div class="col-md-3">
                        <div class="task">
                            <h3>Default Environments</h3>
                            <p>There are 4 default environments: local, development, staging & production.</p>
                            <a class="btn btn-primary btn-sm btn-block" type="button" href="{{baseUrl}}:9000">View Development</a>
                            <a class="btn btn-primary btn-sm btn-block" type="button" href="{{baseUrl}}:9090">View Staging</a>
                            <a class="btn btn-primary btn-sm btn-block" type="button" href="{{baseUrl}}:9009">View Production</a>

                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>

</div>