<div id="clevertech" class="navbar-body">

    <div class="container text-center tasks">

        <div class="row">
            <div class="col-md-12">

                <div class="row heading-row">
                    <div class="text-left col-md-4">
                        <a href="/dashboard"><span class="glyphicon glyphicon-arrow-left back-btn"></span></a>
                    </div>
                    <div class="col-md-4">
                        <h1>Clevertech</h1>
                        <p><a href="/clevertech"><img src="images/logos/clevertech-seed-logo-clean.png" alt="clevertech"></a></p>
                    </div>
                </div>

                <div class="row">

                    <!-- Clever Controller -->
                    <div class="col-md-3">
                        <div class="task">
                            <h3>Clever Controller</h3>
                            <p>The node routes and tasks are managed by our very own Clever Controller node module.</p>
                            <a class="btn btn-primary btn-sm btn-block" type="button" href="https://github.com/clevertech/clever-controller" target="_blank">View Clever Controller</a>
                        </div>
                    </div>

                    <!-- Modularity -->
                    <div class="col-md-3">
                        <div class="task">
                            <h3>Modularity</h3>
                            <p>AMD Spec modularity for Angular and Node seeds coming soon...</p>
                            <a class="btn btn-primary btn-sm btn-block" type="button">View Modularity</a>
                        </div>
                    </div>

                    <!-- CLI -->
                    <div class="col-md-3">
                        <div class="task">
                            <h3>Cleverstack CLI</h3>
                            <p>A new super fast way to setup your Cleverstack app using Command Line coming soon...</p>
                            <a class="btn btn-primary btn-sm btn-block" type="button">View Cleverstack CLI</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>