<div id="login" class="navbar-body">

    <div class="container">

        <div class="row text-center">
            <p>
                <img src="images/logos/cleverstack-logo.png" alt="Cleverstack.io">
            </p>
        </div>

        <div class="row text-left">
            <div class="col-md-6 col-md-offset-3">
                <form role="form" name="loginForm" ng-submit="login()" ng-class="{submitted:submitted}" novalidate="">

                    <!-- Form error/success messgaes -->
                    <div class="alert form-messages {{formMessageClass}} alert-dismissable" ng-show="formMessage">{{ formMessage }}</div>

                    <!-- Username -->
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username" ng-model="credentials.username" placeholder="Username" required="" autofocus="">
                        <span class="error" ng-show="(loginForm.username.$dirty || submitted) && loginForm.username.$error.required">This is a required field.</span>
                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" ng-model="credentials.password" placeholder="Password" required="">
                        <span class="error" ng-show="(loginForm.password.$dirty || submitted) && loginForm.password.$error.required">This is a required field.</span>
                    </div>

                    <!-- Submit -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right" value="Login" title="Login">Login</button>
                    </div>

                    <p><a href="/forgot">Forgot password</a>
                    </p>
                </form>
            </div>
        </div>

    </div>

</div>