<div id="node" class="navbar-body">

    <div class="container text-center tasks">

        <div class="row">
            <div class="col-md-12">

                <div class="row heading-row">
                    <div class="col-md-12 text-center">
                        <h1>Node Seed</h1>
                        <p><a href="/node"><img src="images/logos/node-seed-logo-clean.png" alt="node seed"></a></p>
                    </div>
                </div>

                <div class="row">

                    <!-- Grunt Server -->
                    <div class="col-md-3">
                        <div class="task">
                            <h3>Grunt Server for Back-end</h3>
                            <p>The Grunt server can do all the hard work for you.</p>
                            <a class="btn btn-primary btn-sm btn-block" type="button" href="/node/grunt">View Grunt Server</a>
                        </div>
                    </div>

                    <!-- API Documentation -->
                    <div class="col-md-3">
                        <div class="task">
                            <h3>API Documentation for Back-end</h3>
                            <p>This documentation for the node back-end of your app is generated automatically using Docular.</p>
                            <a class="btn btn-primary btn-sm btn-block" type="button" href="{{baseUrl}}:8888">View API Documentation</a>
                        </div>
                    </div>

                    <!-- Background Tasks -->
                    <div class="col-md-3">
                        <div class="task">
                            <h3>Background Tasks</h3>
                            <p>You can run background tasks for anything in your app such monitoring user loads and any other automated tasks.</p>
                            <a class="btn btn-primary btn-sm btn-block" type="button" href="/node/backgroundtasks">View Background Tasks</a>
                        </div>
                    </div>

                    <!-- Testing -->
                    <div class="col-md-3">
                        <div class="task">
                            <h3>Unit & Integration Testing</h3>
                            <p>Run the test suite for unit and integration testing of your app using Mocha.</p>
                            <a class="btn btn-primary btn-sm btn-block" type="button" href="/node/tests">View Tests</a>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <!-- Deployment -->
                    <div class="col-md-3">
                        <div class="task">
                            <h3>Deployment</h3>
                            <p>See an example of how to build and deploy your back-end.</p>
                            <a class="btn btn-primary btn-sm btn-block" type="button" href="/node/deployment">View Deployment</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>