<html>
  <head>
  	<meta charset="utf-8">
  	<title>Account Activation URL</title>
  </head>
  <body>
  	<div class="container">
  		<div style="margin: 20px 0;padding: 15px 30px 15px 15px;border-left: 5px solid #eee;background-color: #fefbed;border-color: #f1e7bc;">
	      <h4>Account Activation</h4>
	      <p>Please click <code><a href="<%= link %>">here to activate</a></code> your account.</p>
      </div>
  	</div>
  </body>
</html>
