
<div ng-show="user">

    <h2>Angular Seed</h2>
    <p>
        <a class="btn btn-large btn-success" type="button" href="{{baseUrl}}">View Production Front-end</a>
        <a class="btn btn-large btn-warning" type="button" href="{{baseUrl}}:9000">View Development Front-end</a>
    </p>
    <p>
        <a class="btn btn-large btn-primary" type="button" href="{{baseUrl}}:9999">View Front-end API Documentation</a>
        <a class="btn btn-large btn-primary" type="button">Run Browser Testing</a>
        <a class="btn btn-large btn-primary" type="button" href="{{baseUrl}}:9090/test/e2e/runner.html">Run Functional Testing</a>
    </p>

</div>