

<div id="dashboard" class="navbar-body">

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <h1>Dashboard</h1>

                <p>Check out the seeds below to get started.</p>

                <p class="seeds-list">
                    <a href="/angular"><img src="images/logos/angular-stack-logo.png" alt="angular seed" /></a>
                    <a href="/clevertech"><img src="images/logos/clevertech-seed-logo.png" alt="clevertech seed" /></a>
                    <a href="/node"><img src="images/logos/node-stack-logo.png" alt="node seed" /></a>
                </p>

            </div>

        </div>

    </div>

</div>
