


<div id="chat" class="navbar-body" ng-controller="Users">

    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <p>There are currently:</p>
                <ul>
                    <li>{{users.length}} registered users.</li>
                </ul>

                <h2>$scope.user =</h2>
                <pre>{{ user | json }}</pre>

                <h2>$scope.users =</h2>
                <pre>{{ users | json }}</pre>

            </div>
        </div>

    </div>

</div>
